.layout{
  display: flex;
  padding: 10px;
}

.sidenav-left{
  width: 350px;
  position: fixed;
  left: 0;
}

.content{
  margin-left: 350px;
  width: 100%;
  margin-right: 300px;

}
.sidenav-right{
  position: fixed;
  right: 0;
  width: 300px;
}
@media (max-width: 1199.98px) { 
  .content{
    margin-left: 0;
  }
  .sidenav-left{
    display: none;
  }
  .layout{
    display: block;
  }
  .sidenav-right{
    position: inherit;
    width: 100%;
  }
}

